//  ##  ##   ######    ####    ##       ######   #####   
//  ## ##    ##         ##     ##       ##       ##  ##  
//  ####     ##         ##     ##       ##       ##  ##  
//  ###      ####       ##     ##       ####     #####   
//  ####     ##         ##     ##       ##       ####    
//  ## ##    ##         ##     ##       ##       ## ##   
//  ##  ##   ######    ####    ######   ######   ##  ##  
                                                      


// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NUM  1
#define NAV  2
#define SYM  3
#define FUN  4


/ {
    
// ╭──────────────╮ ╭──────────────╮
// │ 0  1  2  3  4│ │ 5  6  7  8  9│
// │10 11 12 13 14│ │15 16 17 18 19│
// │20 21 22 23 24│ │25 26 27 28 29│
// ╰─────╮30 31 32│ │33 34 35╭─────╯
//       ╰────────╯ ╰────────╯

    combos {
        compatible = "zmk,combos";

        combo_caps {
            layers = <0>;
            timeout-ms = <75>;
            require-prior-idle-ms = <100>;
            key-positions = <14 15>;
            bindings = <&caps_word>;
        };
    };

     behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            require-prior-idle-ms = <175>;
            bindings = <&kp>, <&kp>;
        };

        lp: layer_press {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            require-prior-idle-ms = <90>;
            // retro-tap;
            bindings = <&mo>, <&kp>;
        };

        mp: mod_press {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        cs: ctrl_shift {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LCTRL>, <&kp LC(LSHFT)>;
        };
    }; 

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮          ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │          │  Y       │  U       │  I       │  O       │  P       │
            &kp Q      &kp W      &kp E      &kp R      &kp T                 &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │          │  H       │  J       │  K       │  L       │   ;      │
           &kp A      &kp S      &kp D      &kp F      &kp G                 &kp H      &kp J      &kp K      &kp L      &kp SEMI 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │          │  N       │  M       │ , <      │ . >      │ / ?      │
            &kp Z      &kp X      &kp C      &kp V      &kp B                 &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                  &kp DEL   &lt NAV TAB &kp SPACE            &lt NUM RET &kp LSHFT   &kp BSPC
        //                      ╰──────────┴──────────┴──────────╯          ╰──────────┴──────────┴──────────╯
        >;
        };

        num_layer  {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮          ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│     !    │     @    │     ;    │    :     │     _    │          │    =     │    7     │    8     │    9     │    +     │
            &kp EXCL   &kp AT     &kp SEMI  &kp COLON  &kp UNDER             &kp EQUAL   &kp N7      &kp N8    &kp N9    &kp PLUS
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│    \     │     |    │     {    │    (     │     [    │          │    *     │    4     │    5     │    6     │    -     │
            &kp BSLH  &kp PIPE   &kp LBRC   &kp LPAR    &kp LBKT              &kp ASTRK   &kp N4    &kp N5     &kp N6     &kp MINUS
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│     "    │     '    │     }    │     )    │     ]    │          │    0     │    1     │    2     │    3     │    /     │
            &kp DQT    &kp SQT   &kp RBRC   &kp RPAR    &kp RBKT              &kp N0     &kp N1     &kp N2      &kp N3     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                      │          │          │          │          │          │          │          │ 
                                  &trans      &trans    &mo SYM              &trans      &trans    &trans
        //                      ╰──────────┴──────────┴──────────╯          ╰──────────┴──────────┴──────────╯
            >;
        };

        nav_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮          ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │    7     │    8     │    9     │          │          │          │          │          │          │          │
          &bt BT_CLR   &mp F7 N7  &mp F8 N8  &mp F9 N9  &kp HOME              &kp PG_UP  &none      &none      &none      &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │    4     │    5     │    6     │          │          │          │          │          │          │          │
          &bt BT_SEL 1 &mp F4 N4  &mp F5 N5  &mp F6 N6  &kp END               &kp PG_DN  &kp LEFT   &kp UP     &kp RIGHT  &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │    1     │    2     │    3     │    0     │          │          │          │          │          │          │
          &bt BT_SEL 0 &mp F1 N1  &mp F2 N2  &mp F3 N3  &mp F10 N0            &none      &none      &kp DOWN   &none      &none
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                  &none      &kp LSHFT  &cs                   &none      &none      &none
        //                      ╰──────────┴──────────┴──────────╯          ╰──────────┴──────────┴──────────╯
            >;
        };

        sym_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮          ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │    7     │    8     │    9     │          │          │          │          │          │          │          │
          &bt BT_CLR   &mp F7 N7  &mp F8 N8  &mp F9 N9  &kp HOME              &kp PG_UP  &none      &none      &none      &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │    4     │    5     │    6     │          │          │          │          │          │          │          │
          &bt BT_SEL 1 &mp F4 N4  &mp F5 N5  &mp F6 N6  &kp END               &kp PG_DN  &kp LEFT   &kp UP     &kp RIGHT  &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │    1     │    2     │    3     │    0     │          │          │          │          │          │          │
          &bt BT_SEL 0 &mp F1 N1  &mp F2 N2  &mp F3 N3  &mp F10 N0            &none      &none      &kp DOWN   &none      &none
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                  &none      &kp LSHFT  &cs                   &none      &none      &none
        //                      ╰──────────┴──────────┴──────────╯          ╰──────────┴──────────┴──────────╯
            >;
        };

        fun_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮          ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │    7     │    8     │    9     │          │          │          │          │          │          │          │
          &bt BT_CLR   &mp F7 N7  &mp F8 N8  &mp F9 N9  &kp HOME              &kp PG_UP  &none      &none      &none      &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │    4     │    5     │    6     │          │          │          │          │          │          │          │
          &bt BT_SEL 1 &mp F4 N4  &mp F5 N5  &mp F6 N6  &kp END               &kp PG_DN  &kp LEFT   &kp UP     &kp RIGHT  &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │    1     │    2     │    3     │    0     │          │          │          │          │          │          │
          &bt BT_SEL 0 &mp F1 N1  &mp F2 N2  &mp F3 N3  &mp F10 N0            &none      &none      &kp DOWN   &none      &none
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                  &none      &kp LSHFT  &cs                   &none      &none      &none
        //                      ╰──────────┴──────────┴──────────╯          ╰──────────┴──────────┴──────────╯
            >;
        };

    };
};
